<p id="notice"><%= notice %></p>

<h1>
  <%= @course.name %>
</h1>

<%= @course.description %>

<div>
  <%= link_to "Edit this course", edit_course_path(@course) %> |
  <%= link_to "Back to courses", courses_path %>

  <%= button_to "Destroy this course", course_path(@course), method: :delete, class: "btn btn-danger" %>
</div>
